    #head {
        display: block;
        text-align: center;
        margin-block-start: .67em;
        margin-block-end: .3em;
    }
    
    h1 {
        display: block;
        font-size: 2em;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    
    #body {
        display: block;
        margin: 0px;
    }
    
    #login-form {
        display: block;
        text-align: center;
        margin-top: 0em;
    }
    
    .hidden {
        visibility: hidden;
    }
    
    #notes {
        text-align: center;
    }
    
    .list {
        display: block;
        list-style-position: inside;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0em;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
    }
    
    #buttons {
        display: flex;
        justify-content: center;
    }
    
    body {
        text-align: center;
    }
    
    #input {
        display: flex;
        flex-direction: column;
        margin-left: 250px;
        margin-right: 250px;
    }
    
    .label {
        display: block;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }